@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "loader.css";

/*!
PRUEBAAAAAAAAAAAAAAAAAAAAAAA
 */
.fy {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
li svg {
    fill: white;
    padding-left: 5px;
}
li:hover svg {
    fill: rgb(99 102 241);
    padding-left: 5px;
}

@media (min-width: 768px) {
    .main-container {
        margin-left: 20%;
    }
}
.text-fyrmalo {
    color: rgb(99 102 241);
}

body {
    background-color: #dfe1e5;
}

.gray-fyrmalo {
    background-color: #dfe1e5;
}

.item-nav-dashboard {
    background-image: url("/img/dashboard.svg");
    background-repeat: no-repeat;
}

.item-nav-logout {
    background-image: url("/img/logout.svg");
    background-repeat: no-repeat;
}

.item-nav-received {
    background-image: url("/img/recibidos.svg");
    background-repeat: no-repeat;
}
.item-nav-docs {
    background-image: url("/img/documentos.svg");
    background-repeat: no-repeat;
}
.item-nav-plantillas {
    background-image: url("/img/plantillas.svg");
    background-repeat: no-repeat;
}

.bg-morado-fyrmalo {
    background: #5d6fe6;
}
.bg-morado-claro {
    background: #9696FF;
}
.bg-azul-claro {
    background: #01A6D9;
}
.text-azul-claro {
    color: #01A6D9;
}
.text-gris-fyrmalo {
    color: #9298A0;
}

.text-sm-fyrmalo {
    font-size: 1rem;
    line-height: 1.25rem;
  }

.document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    max-height: 700px;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
}
.bg-gradient-to-tr.from-pink-500.to-pink-700.-mt-10.mb-4.rounded-xl.text-white.grid.items-center.w-24.h-24.py-4.px-4.justify-center.shadow-lg-pink.mb-0 {
    z-index: 10;
}
.py-4 {
    z-index: 20;
}
.document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
}

/* Adjust the look of the toolbar inside the container. */
.document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
}
/* Make the editable container look like the inside of a native word processor application. */
.document-editor__editable-container {
    padding: calc(2 * var(--ck-spacing-large));
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
}

.document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 15.8cm;
    min-height: 21cm;

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl(0, 0%, 82.7%) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);

    /* Center the "page". */
    margin: 0 auto;
}
.document-editor .ck-content,
.document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    font: 16px/1.6 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tooltip {
    visibility: hidden;
    position: fixed;
}

.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
}

.font-light {
    font-weight: 300;
}
.to-light-blue-700 {
    --tw-gradient-to: #0288d1;
}
.from-light-blue-500 {
    --tw-gradient-from: #03a9f4;
    --tw-gradient-stops: var(--tw-gradient-from),
        var(--tw-gradient-to, rgba(3, 169, 244, 0));
}
.bg-gradient-to-tr {
    background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
.bg-light-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(3, 169, 244, var(--tw-bg-opacity));
}
.shadow-lg-purple {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(123, 31, 162, 0.6);
}
.from-purple-500 {
    --tw-gradient-from: #9c27b0;
    --tw-gradient-stops: var(--tw-gradient-from),
        var(--tw-gradient-to, rgba(156, 39, 176, 0));
}
.to-purple-700 {
    --tw-gradient-to: #7b1fa2;
}
body {
    font-family: inherit;
    line-height: inherit;
}
.shadow-md-light-blue {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(3, 169, 244, 0.2);
}
.shadow-lg-light-blue {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(2, 136, 209, 0.6);
}
.hover\:border-blue-gray-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(69, 90, 100, var(--tw-border-opacity));
}
.hover\:border-gray-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(97, 97, 97, var(--tw-border-opacity));
}
.hover\:border-brown-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(93, 64, 55, var(--tw-border-opacity));
}
.hover\:border-deep-orange-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(230, 74, 25, var(--tw-border-opacity));
}
.hover\:border-orange-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(245, 124, 0, var(--tw-border-opacity));
}
.hover\:border-amber-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(255, 160, 0, var(--tw-border-opacity));
}
.hover\:border-yellow-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(251, 192, 45, var(--tw-border-opacity));
}
.hover\:border-lime-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(175, 180, 43, var(--tw-border-opacity));
}
.hover\:border-light-green-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(104, 159, 56, var(--tw-border-opacity));
}
.hover\:border-green-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(56, 142, 60, var(--tw-border-opacity));
}
.hover\:border-teal-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(0, 121, 107, var(--tw-border-opacity));
}
.hover\:border-cyan-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(0, 151, 167, var(--tw-border-opacity));
}
.hover\:border-light-blue-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(2, 136, 209, var(--tw-border-opacity));
}
.hover\:border-blue-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(25, 118, 210, var(--tw-border-opacity));
}
.hover\:border-indigo-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(48, 63, 159, var(--tw-border-opacity));
}
.hover\:border-deep-purple-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(81, 45, 168, var(--tw-border-opacity));
}
.hover\:border-purple-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(123, 31, 162, var(--tw-border-opacity));
}
.hover\:border-pink-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(194, 24, 91, var(--tw-border-opacity));
}
.hover\:border-red-700:hover {
    --tw-border-opacity: 1;
    border-color: rgba(211, 47, 47, var(--tw-border-opacity));
}
.hover\:bg-blue-gray-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(69, 90, 100, var(--tw-bg-opacity));
}
.hover\:bg-gray-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(97, 97, 97, var(--tw-bg-opacity));
}
.hover\:bg-brown-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(93, 64, 55, var(--tw-bg-opacity));
}
.hover\:bg-deep-orange-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(230, 74, 25, var(--tw-bg-opacity));
}
.hover\:bg-orange-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(245, 124, 0, var(--tw-bg-opacity));
}
.hover\:bg-amber-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 160, 0, var(--tw-bg-opacity));
}
.hover\:bg-yellow-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 192, 45, var(--tw-bg-opacity));
}
.hover\:bg-lime-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(175, 180, 43, var(--tw-bg-opacity));
}
.hover\:bg-light-green-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(104, 159, 56, var(--tw-bg-opacity));
}
.hover\:bg-green-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(56, 142, 60, var(--tw-bg-opacity));
}
.hover\:bg-teal-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 121, 107, var(--tw-bg-opacity));
}
.hover\:bg-cyan-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 151, 167, var(--tw-bg-opacity));
}
.hover\:bg-light-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(2, 136, 209, var(--tw-bg-opacity));
}
.hover\:bg-blue-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(25, 118, 210, var(--tw-bg-opacity));
}
.hover\:bg-indigo-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(48, 63, 159, var(--tw-bg-opacity));
}
.hover\:bg-deep-purple-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(81, 45, 168, var(--tw-bg-opacity));
}
.hover\:bg-purple-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(123, 31, 162, var(--tw-bg-opacity));
}
.hover\:bg-pink-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(194, 24, 91, var(--tw-bg-opacity));
}
.hover\:bg-red-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(211, 47, 47, var(--tw-bg-opacity));
}
.hover\:bg-blue-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(236, 239, 241, var(--tw-bg-opacity));
}
.hover\:bg-gray-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}
.hover\:bg-brown-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 235, 233, var(--tw-bg-opacity));
}
.hover\:bg-deep-orange-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(251, 233, 231, var(--tw-bg-opacity));
}
.hover\:bg-orange-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 243, 224, var(--tw-bg-opacity));
}
.hover\:bg-amber-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 248, 225, var(--tw-bg-opacity));
}
.hover\:bg-yellow-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 253, 231, var(--tw-bg-opacity));
}
.hover\:bg-lime-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 251, 231, var(--tw-bg-opacity));
}
.hover\:bg-light-green-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(241, 248, 233, var(--tw-bg-opacity));
}
.hover\:bg-green-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(232, 245, 233, var(--tw-bg-opacity));
}
.hover\:bg-teal-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(224, 242, 241, var(--tw-bg-opacity));
}
.hover\:bg-cyan-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(224, 247, 250, var(--tw-bg-opacity));
}
.hover\:bg-light-blue-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(225, 245, 254, var(--tw-bg-opacity));
}
.hover\:bg-blue-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(227, 242, 253, var(--tw-bg-opacity));
}
.hover\:bg-indigo-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(232, 234, 246, var(--tw-bg-opacity));
}
.hover\:bg-deep-purple-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(237, 231, 246, var(--tw-bg-opacity));
}
.hover\:bg-purple-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 229, 245, var(--tw-bg-opacity));
}
.hover\:bg-pink-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(252, 228, 236, var(--tw-bg-opacity));
}
.hover\:bg-red-50:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 235, 238, var(--tw-bg-opacity));
}
.hover\:bg-blue-gray-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(96, 125, 139, var(--tw-bg-opacity));
}
.hover\:bg-gray-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(158, 158, 158, var(--tw-bg-opacity));
}
.hover\:bg-brown-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(121, 85, 72, var(--tw-bg-opacity));
}
.hover\:bg-deep-orange-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 87, 34, var(--tw-bg-opacity));
}
.hover\:bg-orange-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 152, 0, var(--tw-bg-opacity));
}
.hover\:bg-amber-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 193, 7, var(--tw-bg-opacity));
}
.hover\:bg-yellow-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(253, 216, 53, var(--tw-bg-opacity));
}
.hover\:bg-lime-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(205, 220, 57, var(--tw-bg-opacity));
}
.hover\:bg-light-green-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(139, 195, 74, var(--tw-bg-opacity));
}
.hover\:bg-green-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(76, 175, 80, var(--tw-bg-opacity));
}
.hover\:bg-teal-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 150, 136, var(--tw-bg-opacity));
}
.hover\:bg-cyan-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 188, 212, var(--tw-bg-opacity));
}
.hover\:bg-light-blue-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(3, 169, 244, var(--tw-bg-opacity));
}
.hover\:bg-blue-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(33, 150, 243, var(--tw-bg-opacity));
}
.hover\:bg-indigo-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(63, 81, 181, var(--tw-bg-opacity));
}
.hover\:bg-deep-purple-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(103, 58, 183, var(--tw-bg-opacity));
}
.hover\:bg-purple-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(156, 39, 176, var(--tw-bg-opacity));
}
.hover\:bg-pink-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(233, 30, 99, var(--tw-bg-opacity));
}
.hover\:bg-red-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(244, 67, 54, var(--tw-bg-opacity));
}
.hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.hover\:bg-opacity-20:hover {
    --tw-bg-opacity: 0.2;
}
.hover\:text-gray-900:hover {
    --tw-text-opacity: 1;
    color: rgba(33, 33, 33, var(--tw-text-opacity));
}
.hover\:text-blue-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgba(55, 71, 79, var(--tw-text-opacity));
}
.hover\:text-blue-gray-700:hover {
    --tw-text-opacity: 1;
    color: rgba(69, 90, 100, var(--tw-text-opacity));
}
.hover\:text-gray-700:hover {
    --tw-text-opacity: 1;
    color: rgba(97, 97, 97, var(--tw-text-opacity));
}
.hover\:text-brown-700:hover {
    --tw-text-opacity: 1;
    color: rgba(93, 64, 55, var(--tw-text-opacity));
}
.hover\:text-deep-orange-700:hover {
    --tw-text-opacity: 1;
    color: rgba(230, 74, 25, var(--tw-text-opacity));
}
.hover\:text-orange-700:hover {
    --tw-text-opacity: 1;
    color: rgba(245, 124, 0, var(--tw-text-opacity));
}
.hover\:text-amber-700:hover {
    --tw-text-opacity: 1;
    color: rgba(255, 160, 0, var(--tw-text-opacity));
}
.hover\:text-yellow-700:hover {
    --tw-text-opacity: 1;
    color: rgba(251, 192, 45, var(--tw-text-opacity));
}
.hover\:text-lime-700:hover {
    --tw-text-opacity: 1;
    color: rgba(175, 180, 43, var(--tw-text-opacity));
}
.hover\:text-light-green-700:hover {
    --tw-text-opacity: 1;
    color: rgba(104, 159, 56, var(--tw-text-opacity));
}
.hover\:text-green-700:hover {
    --tw-text-opacity: 1;
    color: rgba(56, 142, 60, var(--tw-text-opacity));
}
.hover\:text-teal-700:hover {
    --tw-text-opacity: 1;
    color: rgba(0, 121, 107, var(--tw-text-opacity));
}
.hover\:text-cyan-700:hover {
    --tw-text-opacity: 1;
    color: rgba(0, 151, 167, var(--tw-text-opacity));
}
.hover\:text-light-blue-700:hover {
    --tw-text-opacity: 1;
    color: rgba(2, 136, 209, var(--tw-text-opacity));
}
.hover\:text-blue-700:hover {
    --tw-text-opacity: 1;
    color: rgba(25, 118, 210, var(--tw-text-opacity));
}
.hover\:text-indigo-700:hover {
    --tw-text-opacity: 1;
    color: rgba(48, 63, 159, var(--tw-text-opacity));
}
.hover\:text-deep-purple-700:hover {
    --tw-text-opacity: 1;
    color: rgba(81, 45, 168, var(--tw-text-opacity));
}
.hover\:text-purple-700:hover {
    --tw-text-opacity: 1;
    color: rgba(123, 31, 162, var(--tw-text-opacity));
}
.hover\:text-pink-700:hover {
    --tw-text-opacity: 1;
    color: rgba(194, 24, 91, var(--tw-text-opacity));
}
.hover\:text-red-700:hover {
    --tw-text-opacity: 1;
    color: rgba(211, 47, 47, var(--tw-text-opacity));
}
.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.hover\:shadow-lg-blue-gray:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(69, 90, 100, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-gray:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(97, 97, 97, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-brown:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(93, 64, 55, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-deep-orange:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(230, 74, 25, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-orange:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(245, 122, 0, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-amber:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(255, 160, 0, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-yellow:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(251, 192, 45, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-lime:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(175, 180, 43, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-light-green:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(104, 159, 56, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-green:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(56, 142, 60, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-teal:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(0, 121, 107, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-cyan:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(0, 151, 167, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-light-blue:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(2, 136, 209, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-blue:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(25, 118, 210, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-indigo:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(48, 63, 159, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-deep-purple:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(81, 45, 168, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-purple:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(123, 31, 162, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-pink:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(194, 24, 91, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-lg-red:hover {
    --tw-shadow: 0 12px 22px -5px rgba(0, 0, 0, 0.12),
        0 10px 10px -5px rgba(0, 0, 0, 0.04),
        0 13px 24px -11px rgba(211, 47, 47, 0.6);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-blue-gray:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(96, 125, 139, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-gray:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(158, 158, 158, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-brown:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(121, 85, 72, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-deep-orange:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(255, 87, 36, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-orange:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(255, 152, 0, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-amber:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(255, 193, 7, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-yellow:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(255, 235, 59, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-lime:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(205, 220, 57, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-light-green:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(139, 195, 74, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-green:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(76, 175, 80, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-teal:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 150, 136, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-cyan:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 188, 212, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-light-blue:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(3, 169, 244, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-blue:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(33, 150, 243, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-indigo:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(63, 81, 181, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-deep-purple:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(103, 58, 183, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-purple:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(156, 39, 176, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-pink:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(233, 30, 99, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.hover\:shadow-md-red:hover {
    --tw-shadow: 0 6px 12px -3px rgba(0, 0, 0, 0.1),
        0 4px 5px -2px rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(244, 67, 54, 0.2);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.focus\:border-2:focus {
    border-width: 2px;
}
.focus\:border-blue-gray-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(96, 125, 139, var(--tw-border-opacity));
}
.focus\:border-gray-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(158, 158, 158, var(--tw-border-opacity));
}
.focus\:border-brown-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(121, 85, 72, var(--tw-border-opacity));
}
.focus\:border-deep-orange-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(255, 87, 34, var(--tw-border-opacity));
}
.focus\:border-orange-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(255, 152, 0, var(--tw-border-opacity));
}
.focus\:border-amber-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(255, 193, 7, var(--tw-border-opacity));
}
.focus\:border-yellow-600:focus {
    --tw-border-opacity: 1;
    border-color: rgba(253, 216, 53, var(--tw-border-opacity));
}
.focus\:border-lime-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(205, 220, 57, var(--tw-border-opacity));
}
.focus\:border-light-green-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(139, 195, 74, var(--tw-border-opacity));
}
.focus\:border-green-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(76, 175, 80, var(--tw-border-opacity));
}
.focus\:border-teal-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(0, 150, 136, var(--tw-border-opacity));
}
.focus\:border-cyan-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(0, 188, 212, var(--tw-border-opacity));
}
.focus\:border-light-blue-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(3, 169, 244, var(--tw-border-opacity));
}
.focus\:border-blue-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(33, 150, 243, var(--tw-border-opacity));
}
.focus\:border-indigo-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(63, 81, 181, var(--tw-border-opacity));
}
.focus\:border-deep-purple-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(103, 58, 183, var(--tw-border-opacity));
}
.focus\:border-purple-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(156, 39, 176, var(--tw-border-opacity));
}
.focus\:border-pink-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(233, 30, 99, var(--tw-border-opacity));
}
.focus\:border-red-500:focus {
    --tw-border-opacity: 1;
    border-color: rgba(244, 67, 54, var(--tw-border-opacity));
}
.focus\:bg-blue-gray-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(120, 144, 156, var(--tw-bg-opacity));
}
.focus\:bg-gray-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(189, 189, 189, var(--tw-bg-opacity));
}
.focus\:bg-brown-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(141, 110, 99, var(--tw-bg-opacity));
}
.focus\:bg-deep-orange-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 112, 67, var(--tw-bg-opacity));
}
.focus\:bg-orange-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 167, 38, var(--tw-bg-opacity));
}
.focus\:bg-amber-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 202, 40, var(--tw-bg-opacity));
}
.focus\:bg-yellow-500:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 235, 59, var(--tw-bg-opacity));
}
.focus\:bg-lime-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(212, 225, 87, var(--tw-bg-opacity));
}
.focus\:bg-light-green-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(156, 204, 101, var(--tw-bg-opacity));
}
.focus\:bg-green-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(102, 187, 106, var(--tw-bg-opacity));
}
.focus\:bg-teal-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(38, 166, 154, var(--tw-bg-opacity));
}
.focus\:bg-cyan-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(38, 198, 218, var(--tw-bg-opacity));
}
.focus\:bg-light-blue-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(41, 182, 246, var(--tw-bg-opacity));
}
.focus\:bg-blue-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(66, 165, 245, var(--tw-bg-opacity));
}
.focus\:bg-indigo-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(92, 107, 192, var(--tw-bg-opacity));
}
.focus\:bg-deep-purple-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(126, 87, 194, var(--tw-bg-opacity));
}
.focus\:bg-purple-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(171, 71, 188, var(--tw-bg-opacity));
}
.focus\:bg-pink-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(236, 64, 122, var(--tw-bg-opacity));
}
.focus\:bg-red-400:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 83, 80, var(--tw-bg-opacity));
}
.focus\:bg-gray-500:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(158, 158, 158, var(--tw-bg-opacity));
}
.focus\:bg-opacity-20:focus {
    --tw-bg-opacity: 0.2;
}
.focus\:text-gray-800:focus {
    --tw-text-opacity: 1;
    color: rgba(66, 66, 66, var(--tw-text-opacity));
}
.focus\:shadow-none:focus {
    --tw-shadow: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.focus\:ring-0:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow, 0 0 #0000);
}
.active\:bg-blue-gray-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(55, 71, 79, var(--tw-bg-opacity));
}
.active\:bg-gray-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(66, 66, 66, var(--tw-bg-opacity));
}
.active\:bg-brown-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(78, 52, 46, var(--tw-bg-opacity));
}
.active\:bg-deep-orange-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(216, 67, 21, var(--tw-bg-opacity));
}
.active\:bg-orange-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(239, 108, 0, var(--tw-bg-opacity));
}
.active\:bg-amber-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 143, 0, var(--tw-bg-opacity));
}
.active\:bg-yellow-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 168, 37, var(--tw-bg-opacity));
}
.active\:bg-lime-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(158, 157, 36, var(--tw-bg-opacity));
}
.active\:bg-light-green-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(85, 139, 47, var(--tw-bg-opacity));
}
.active\:bg-green-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(46, 125, 50, var(--tw-bg-opacity));
}
.active\:bg-teal-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 105, 92, var(--tw-bg-opacity));
}
.active\:bg-cyan-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 131, 143, var(--tw-bg-opacity));
}
.active\:bg-light-blue-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(2, 119, 189, var(--tw-bg-opacity));
}
.active\:bg-blue-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(21, 101, 192, var(--tw-bg-opacity));
}
.active\:bg-indigo-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(40, 53, 147, var(--tw-bg-opacity));
}
.active\:bg-deep-purple-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(69, 39, 160, var(--tw-bg-opacity));
}
.active\:bg-purple-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(106, 27, 154, var(--tw-bg-opacity));
}
.active\:bg-pink-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(173, 20, 87, var(--tw-bg-opacity));
}
.active\:bg-red-800:active {
    --tw-bg-opacity: 1;
    background-color: rgba(198, 40, 40, var(--tw-bg-opacity));
}
.active\:bg-blue-gray-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(207, 216, 220, var(--tw-bg-opacity));
}
.active\:bg-gray-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}
.active\:bg-brown-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(215, 204, 200, var(--tw-bg-opacity));
}
.active\:bg-deep-orange-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 204, 188, var(--tw-bg-opacity));
}
.active\:bg-orange-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 224, 178, var(--tw-bg-opacity));
}
.active\:bg-amber-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 236, 179, var(--tw-bg-opacity));
}
.active\:bg-yellow-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 249, 196, var(--tw-bg-opacity));
}
.active\:bg-lime-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(240, 244, 195, var(--tw-bg-opacity));
}
.active\:bg-light-green-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(220, 237, 200, var(--tw-bg-opacity));
}
.active\:bg-green-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(200, 230, 201, var(--tw-bg-opacity));
}
.active\:bg-teal-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(178, 223, 219, var(--tw-bg-opacity));
}
.active\:bg-cyan-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(178, 235, 242, var(--tw-bg-opacity));
}
.active\:bg-light-blue-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(179, 229, 252, var(--tw-bg-opacity));
}
.active\:bg-blue-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(187, 222, 251, var(--tw-bg-opacity));
}
.active\:bg-indigo-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(197, 202, 233, var(--tw-bg-opacity));
}
.active\:bg-deep-purple-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(209, 196, 233, var(--tw-bg-opacity));
}
.active\:bg-purple-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(225, 190, 231, var(--tw-bg-opacity));
}
.active\:bg-pink-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(248, 187, 208, var(--tw-bg-opacity));
}
.active\:bg-red-100:active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 205, 210, var(--tw-bg-opacity));
}
.active\:bg-gray-500:active {
    --tw-bg-opacity: 1;
    background-color: rgba(158, 158, 158, var(--tw-bg-opacity));
}
.active\:bg-opacity-40:active {
    --tw-bg-opacity: 0.4;
}
.bg-light-blue-700 {
    --tw-bg-opacity: 1;
    background-color: rgba(2, 136, 209, var(--tw-bg-opacity));
}
